form {
    width: 52rem;
    font-family: "Segoe UI",Arial,sans-serif;
    background-color: #fff;
    margin-top: 8px;
    border: 0.5px solid rgba(0,0,0,0.25);
    padding-top: 19px;
    padding-left: 50px;
    border-bottom: 0.1px solid rgba(0,0,0,0.25);
    margin-left: 16.5%;
}

form h1 {
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 60px;
    padding-top: 1rem;
}

#name {
    max-width: 300px;
    width: 97%;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    background-color: rgb(245, 248, 250);
    color: #495057;
    height: 2rem;
    margin-left: 60px;
    margin-bottom: 14px;
    border-bottom-style: solid;
    border-bottom-color: rgb(101, 119, 134);
    border-bottom-width: 2px;
    margin-top: 10px;
    margin-left: 60px;
}

#email {
    max-width: 300px;
    width: 97%;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    background-color: rgb(245, 248, 250);
    color: #495057;
    height: 2rem;
    margin-left: 60px;
    margin-bottom: 14px;
    border-bottom-style: solid;
    border-bottom-color: rgb(101, 119, 134);
    border-bottom-width: 2px;
    margin-top: 10px;
    margin-left: 60px;
    
}
input:focus {
    border-bottom-color: #1da1f2;
}

#password {
    max-width: 300px;
    width: 97%;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    background-color: rgb(245, 248, 250);
    color: #495057;
    height: 2rem;
    margin-left: 60px;
    margin-bottom: 14px;
    border-bottom-style: solid;
    border-bottom-color: rgb(101, 119, 134);
    border-bottom-width: 2px;
    margin-left: 60px;
    margin-top: 10px;
}

#confirm {
    max-width: 300px;
    width: 97%;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    background-color: rgb(245, 248, 250);
    color: #495057;
    height: 2rem;
    margin-left: 60px;
    margin-bottom: 14px;
    border-bottom-style: solid;
    border-bottom-color: rgb(101, 119, 134);
    border-bottom-width: 2px;
    margin-left: 60px;
    margin-top: 10px;
    
}

#avatar_url {
    max-width: 300px;
    width: 97%;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    background-color: rgb(245, 248, 250);
    color: #495057;
    height: 2rem;
    margin-left: 60px;
    margin-bottom: 14px;
    border-bottom-style: solid;
    border-bottom-color: rgb(101, 119, 134);
    border-bottom-width: 2px;
    margin-left: 60px;
    margin-top: 10px;
}

label {
    color: grey;
    margin-bottom: 2px;
    margin-left: 60px;
}

dd {
    margin: 0px;
    display: flex;
}

.errors li {
    color: red;
    list-style-type: none;
}

.register-butt {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 6rem;
    margin-right: 1rem;
    margin-left: 60px;
    margin-bottom: 1.3rem;
}

.register-butt:hover {
    background-color: #4682B4;
}

.jump-to-signin {
    background-color: #f5f8fa;
    padding: 20px 12px 18px 113px;
    font-size: 14px;
    line-height: 20px;
    color: #657786;
    margin: 0 auto;
    border: 0.5px solid rgba(0,0,0,0.25);
    display: flex;
    margin-left: -50px;
}

.jump-to-signin a {
    text-decoration: none;
    color: #007bff;
    padding-top: 13.5px;
}